<div class="uk-flex-center" uk-grid>
    <div class="uk-width-1-3@m">
      <p class="uk-icon uk-margin-large-top uk-margin-medium-bottom">
        <span class="uk-icon" uk-icon="icon: logo-color-dark; ratio: 0.7"></span>
      </p>
  
      <div class="uk-card uk-card-primary uk-card-body uk-box-shadow-small">
        <h3 class="uk-card-title">Restaurar senha</h3>
        <div class="uk-margin">
          <input class="uk-input uk-form-large" type="email" placeholder="e-mail" />
        </div>
        <div class="uk-margin uk-text-right">
          <a class="uk-button uk-button-default" href="/login">Restaurar senha</a>
        </div>
      </div>
      <p class="uk-text-center">
        <a class="uk-button uk-button-link" href="/login">
          Voltar
        </a>
      </p>
    </div>
  </div>